<a href="https://colab.research.google.com/github/Consmart18/Debiasing-Student-Algorithms/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Load the data
studentinfo_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project files/studentInfo.csv')
assessments_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project files/assessments.csv')
student_assessment_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project files/studentAssessment.csv')
student_vle_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project files/studentVle.csv')

### Generate new feature, score_tma1
This is the score of the student in the tutor-marked assessment conducted within the first 30 days of the start of the Module.

In [ ]:
# Filter the assessments_df for assessments with assessment_type = 'TMA' and date <= 30
filtered_assessments_df = assessments_df[(assessments_df['assessment_type'] == 'TMA') &
                                         (assessments_df['date'] <= 30)]

# Merge the filtered_assessments_df with student_assessment_df on id_assessment
merged_df = pd.merge(filtered_assessments_df, student_assessment_df, on='id_assessment')

# Group the merged_df by id_student and get the average score for each student
grouped_df = merged_df.groupby('id_student')['score'].mean().reset_index()

# Rename the score column to score_tma1
grouped_df.rename(columns={'score': 'score_tma1'}, inplace=True)

# Merge the grouped_df with studentinfo_df on id_student and replace missing values
studentinfo_new_df = pd.merge(studentinfo_df, grouped_df, on='id_student', how='left')
studentinfo_new_df['score_tma1'].fillna(0, inplace=True)

### Generate new feature, score_tma2
This is the score of the student in the tutor-marked assessment conducted within the first 30 to 60 days of the start of the Module.

In [ ]:
# Filter the assessments_df for assessments with assessment_type = 'TMA' and date > 30 and <= 60
filtered_assessments_df1 = assessments_df[(assessments_df['assessment_type'] == 'TMA') &
                                  (assessments_df['date'] > 30) &  (assessments_df["date"] <= 60)]

# Merge the filtered_assessments_df with student_assessment_df on id_assessment
merged_df1 = pd.merge(filtered_assessments_df1, student_assessment_df, on='id_assessment')

# Group the merged_df by id_student and get the average score for each student
grouped_df1 = merged_df1.groupby('id_student')['score'].mean().reset_index()

# Rename the score column to score_tma2
grouped_df1.rename(columns={'score': 'score_tma2'}, inplace=True)

# Merge the grouped_df with studentinfo_df on id_student and fill missing values
studentinfo_new_df1 = pd.merge(studentinfo_new_df, grouped_df1, on='id_student', how='left')
studentinfo_new_df1['score_tma2'].fillna(0, inplace=True)

### Generate new feature, score_tma3
This is the score of the student in the tutor-marked assessment conducted within the first 60 to 90 days of the start of the Module.

In [ ]:
# Filter the assessments_df for assessments with assessment_type = 'TMA' and date > 60 and <= 90
filtered_assessments_df2 = assessments_df[(assessments_df['assessment_type'] == 'TMA') &
                                  (assessments_df['date'] > 60) &  (assessments_df["date"] <= 90)]

# Merge the filtered_assessments_df with student_assessment_df on id_assessment
merged_df2 = pd.merge(filtered_assessments_df2, student_assessment_df, on='id_assessment')

# Group the merged_df by id_student and get the average score for each student
grouped_df2 = merged_df2.groupby('id_student')['score'].mean().reset_index()

# Rename the score column to score_tma3
grouped_df2.rename(columns={'score': 'score_tma3'}, inplace=True)

# Merge the grouped_df with studentinfo_new_df1 on id_student and fill missing values
studentinfo_new_df2 = pd.merge(studentinfo_new_df1, grouped_df2, on='id_student', how='left')
studentinfo_new_df2['score_tma3'].fillna(0, inplace=True)

### Generate new feature, score_tma4
This is the score of the student in the tutor-marked assessment conducted within the first 90 to 120 days of the start of the Module.

In [ ]:
# Filter the assessments_df for assessments with assessment_type = 'TMA' and date > 90 and <= 120
filtered_assessments_df3 = assessments_df[(assessments_df['assessment_type'] == 'TMA') &
                                  (assessments_df['date'] > 90) &  (assessments_df["date"] <= 120)]

# Merge the filtered_assessments_df with student_assessment_df on id_assessment
merged_df3 = pd.merge(filtered_assessments_df3, student_assessment_df, on='id_assessment')

# Group the merged_df by id_student and get the average score for each student
grouped_df3 = merged_df3.groupby('id_student')['score'].mean().reset_index()

# Rename the score column to score_tma4
grouped_df3.rename(columns={'score': 'score_tma4'}, inplace=True)

# Merge the grouped_df with studentinfo_new_df on id_student and fill missing values
studentinfo_new_df2 = pd.merge(studentinfo_new_df2, grouped_df3, on='id_student', how='left')
studentinfo_new_df2['score_tma4'].fillna(0, inplace=True)

### Generate new feature, score_tma5

In [ ]:
# Filter the assessments_df for assessments with assessment_type = 'TMA' and date > 120 and <= 150
filtered_assessments_df4 = assessments_df[(assessments_df['assessment_type'] == 'TMA') &
                                  (assessments_df['date'] > 120) &  (assessments_df["date"] <= 150)]

# Merge the filtered_assessments_df with student_assessment_df on id_assessment
merged_df4 = pd.merge(filtered_assessments_df4, student_assessment_df, on='id_assessment')

# Group the merged_df by id_student and get the average score for each student
grouped_df4 = merged_df4.groupby('id_student')['score'].mean().reset_index()

# Rename the score column to score_tma5
grouped_df4.rename(columns={'score': 'score_tma5'}, inplace=True)

# Merge the grouped_df with studentinfo_new_df on id_student and fill missing values
studentinfo_new_df3 = pd.merge(studentinfo_new_df2, grouped_df4, on='id_student', how='left')
studentinfo_new_df3['score_tma5'].fillna(0, inplace=True)

### Generate new features: sum_interact_20 and sum_interact_60

The feature sum_interact_20 represents the number of times a student interacts with a module material in the first 20 days while sum_interact_60 represents the number of times a student interacts with a module material in the first 60 days.

In [ ]:
# Filter the student_vle_df for rows with different date conditions
filtered_vle_df_30 = student_vle_df[student_vle_df['date'] < 30]
filtered_vle_df_60 = student_vle_df[(student_vle_df['date'] >= 30) & (student_vle_df['date'] < 60)]
filtered_vle_df_90 = student_vle_df[(student_vle_df['date'] >= 60) & (student_vle_df['date'] < 90)]
filtered_vle_df_120 = student_vle_df[(student_vle_df['date'] >= 90) & (student_vle_df['date'] <= 120)]
filtered_vle_df_150 = student_vle_df[(student_vle_df['date'] >= 120) & (student_vle_df['date'] <= 150)]

# Group the filtered DataFrames by 'id_student' and 'code_presentation' and sum the 'sum_click' values
grouped_vle_df_30 = filtered_vle_df_30.groupby(['id_student', 'code_presentation'])['sum_click'].sum().reset_index()
grouped_vle_df_60 = filtered_vle_df_60.groupby(['id_student', 'code_presentation'])['sum_click'].sum().reset_index()
grouped_vle_df_90 = filtered_vle_df_90.groupby(['id_student', 'code_presentation'])['sum_click'].sum().reset_index()
grouped_vle_df_120 = filtered_vle_df_120.groupby(['id_student', 'code_presentation'])['sum_click'].sum().reset_index()
grouped_vle_df_150 = filtered_vle_df_150.groupby(['id_student', 'code_presentation'])['sum_click'].sum().reset_index()

# Rename the 'sum_click' column to 'sum_interaction_30', 'sum_interaction_60', 'sum_interaction_90' and 'sum_interaction_120' respectively
grouped_vle_df_30.rename(columns={'sum_click': 'sum_interaction_30'}, inplace=True)
grouped_vle_df_60.rename(columns={'sum_click': 'sum_interaction_60'}, inplace=True)
grouped_vle_df_90.rename(columns={'sum_click': 'sum_interaction_90'}, inplace=True)
grouped_vle_df_120.rename(columns={'sum_click': 'sum_interaction_120'}, inplace=True)
grouped_vle_df_150.rename(columns={'sum_click': 'sum_interaction_150'}, inplace=True)

# Merge the resulting DataFrames with studentinfo_new_df3 on ['id_student', 'code_presentation']
studentinfo_new_df4 = pd.merge(studentinfo_new_df3, grouped_vle_df_30, on=['id_student', 'code_presentation'], how='left')
studentinfo_new_df4 = pd.merge(studentinfo_new_df4, grouped_vle_df_60, on=['id_student', 'code_presentation'], how='left')
studentinfo_new_df4 = pd.merge(studentinfo_new_df4, grouped_vle_df_90, on=['id_student', 'code_presentation'], how='left')
studentinfo_new_df4 = pd.merge(studentinfo_new_df4, grouped_vle_df_120, on=['id_student', 'code_presentation'], how='left')
studentinfo_new_df4 = pd.merge(studentinfo_new_df4, grouped_vle_df_150, on=['id_student', 'code_presentation'], how='left')

In [ ]:
# Replace missing values with 0
studentinfo_new_df4['sum_interaction_30'].fillna(0, inplace=True)
studentinfo_new_df4['sum_interaction_60'].fillna(0, inplace=True)
studentinfo_new_df4['sum_interaction_90'].fillna(0, inplace=True)
studentinfo_new_df4['sum_interaction_120'].fillna(0, inplace=True)
studentinfo_new_df4['sum_interaction_150'].fillna(0, inplace=True)

In [ ]:
cols = list(studentinfo_new_df4.columns)
cols.append(cols.pop(cols.index('final_result')))
df = studentinfo_new_df4[cols]

# Save the studentinfo_new_df3 as a new csv file
df.to_csv('studentinfo_updated.csv', index=False)

In [ ]:
df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,score_tma2,score_tma3,score_tma4,score_tma5,sum_interaction_30,sum_interaction_60,sum_interaction_90,sum_interaction_120,sum_interaction_150,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,...,85.0,0.0,80.0,0.0,419.0,110.0,58.0,41.0,82.0,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,...,68.0,0.0,70.0,0.0,618.0,51.0,148.0,87.0,114.0,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,...,0.0,0.0,0.0,0.0,281.0,0.0,0.0,0.0,0.0,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,...,71.0,0.0,74.0,0.0,503.0,301.0,184.0,269.0,242.0,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,...,30.0,0.0,63.0,0.0,567.0,35.0,81.0,64.0,78.0,Pass